<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">

          <!-- Avec l'experssion {{}} j'affiche le contenu de la variable dans l'application-->

          {{title}}
        </a>
      </div>
    </nav>
  </header>
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">

          <a *ngFor="let Contact of mesContacts"
             (click)= "choisirContact(Contact)"
             [class.active]="Contact===contactActif"
            class="list-group-item list-group-item-action"
            href="javascript:void(0)">
            {{ Contact.name }}
          </a>



      </ul>
      <!--
      Lorsque l'évenement unContactEstCree sera émit,
      la fonctionn ajouterContactDansListe() ser déclanchée.
      Elle prendre en parametre $event, qui contient les données de notre évenement unContactEstCree.
      A savoir, le nouveauContact
      -->
      <app-ajouter (unContactEstCree)="ajouterContactDansListe($event)"></app-ajouter>
    </div>
    <div class="col-sm-8">
      <app-profil [contact]="contactActif" (userhasbeenchanged)="saveContacts()"></app-profil>
    </div>
  </div>
  <footer class="text-center">
    Copyright &copy; 2018 - Paris IV - 3
  </footer>
  <pre>
    <!-- {{ mesContacts | json }} -->
  </pre>
</div>

